<!DOCTYPE html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="public/views/CSS/style.css">
	<title>Client do WiPlayer - Tocará as músicas</title>
</head>
<body>
	<div class="header">
		<a href="/" style="position: absolute;"> Voltar </a>
		<img src="public/views/CSS/images/wiplayer.png" alt="Logo" class="imagecentered">
	</div>
	<div>
		<h1 class="client"> Now Playing </h1>
		<p class="centered"></p>
		
		
	</div>
	<h2></h2>
</body>
<script src="socket.io/socket.io.js"></script>
<script type="text/javascript">	
	//Cria um socket
	var socket = io();
	var musicPlaying

	//Ao conectar ele precisa ser registrado pelo controlador
	socket.on('connect', function() {
		socket.emit('receptorOpen', socket.id)
	})

	//Cria uma variável volume pra poder gravar o volume quando o som fica mutado
	var volume = 0
	$(document).ready(function() {
		var audioElement = document.createElement('audio');
		audioElement.setAttribute('type', "audio/mpeg");

		

		/*
		Ao receber a requisição pauseSong ele verificará se já está pausado
		se sim, dá o play, se não pausa
		*/
		socket.on('pauseSong' , function () {
			if (!audioElement.paused) {
				audioElement.pause()
			} else {
				audioElement.play()
			}
		});

		/*
		Ao receber a requisição stopSong ele setará o tempo da música atual como 0
		e pausará
		*/
		socket.on('stopSong' , function() {
			audioElement.pause()
			audioElement.currentTime = 0
		});

		/*
		Aumenta o volume em 0.1
		*/
		socket.on('volumeUpSong', function() {
			audioElement.volume += 0.1
		});

		/*
		Diminui o volume
		*/
		socket.on('volumeDownSong', function() {
			audioElement.volume -= 0.1
		});

		/*
		Muta a música e seta o volume como o volume atual
		Ao desmutar ele recuperará o volume anterior*/
		socket.on('muteSong', function() {
			if(audioElement.volume == 0) {
				audioElement.volume = volume
			} else {
				volume = audioElement.volume
				audioElement.volume = 0
			}
		});

		/*
		Quando a música acabar ela tocará a próxima da playlist
		*/
		audioElement.onended = function() {
			console.log('Musica acabou')
			socket.emit('playNext', musicPlaying)
		}

		/*
		Receptor pega os dados da música
		muda o atributo SRC e dá o play

		Muda também os dados da música na tela
		*/

		audioElement.ontimeupdate = function() {
			$("h2").html('Time:' + toMinutes(audioElement.currentTime))
		}

		socket.on('playMusic' , function (data) {
			musicPlaying = data
			$("p").html('Song:'+data.title+ '  <br/>Artist:' + data.author)
			console.log('Tocando musica', data.title)
			audioElement.setAttribute('src',data.src);
			audioElement.play().catch(function() {
				console.log("hellow word")
			});		
		});
		function toMinutes(time) {
			var minutes = Math.floor( time / 60 )
			var seconds = Math.floor(time - (minutes * 60))
			if (seconds < 10)
				return  minutes + ':0' + seconds
			else 
				return minutes + ':' + seconds
		}


	});
</script>
</html>